<!doctype html>
<html>
<head>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Northwind Restful Web API Browser">
    <meta name="author" content="Juan Diego Martinez">
    <title>Northwind RESTful Web API</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css">
    @Html.RenderCssBundle("~/Content/css/style.css.bundle", BundleOptions.MinifiedAndCombined)

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>    

    <script src="/content/js/libs/jquery-1.9.1.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="/content/js/libs/handlebars-1.0.0.js"></script>
    <script src="/content/js/libs/ember.js"></script>
    <script src="/content/js/libs/ember-data.js"></script>
    <script src="/content/js/libs/ember-list-view.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
    @Html.RenderJsBundle("~/Content/js/app.js.bundle", BundleOptions.MinifiedAndCombined)

</body>
</html>
