/**	
	@mixin	avatar	
**/
.customers-list .avatar {
  border: 1px solid #cbd3d8;
  color: #cbd3d8;
  float: left;
  height: 48px;
  margin-right: 12px;
  padding-top: 4px;
  position: relative;
  text-align: center;
  width: 48px;
  font-size: 36px; }

.list-group-item .avatar {
  margin-top: -3px; }
