$primary-color: #1f1f21;
$primary-bg-color: #f7f7f7;

$table-hover-color: #f1f1f1;

$sidebar-width: 200px;
$sidebar-bg-color: #eceff1;	
$sidebar-border-color: #cbd3d8;
$sidebar-nav-link-color: #5e6a80;
$sidebar-nav-link-active-color: #33455a;