@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,300,300italic);
body {
  background: #f7f7f7 top left repeat-y;
  color: #1f1f21;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  min-width: 900px;
  -webkit-font-smoothing: antialiased; }

/* HEADER */
header {
  margin: 0; }

header[role="banner"] {
  border-radius: 0;
  margin-bottom: 0; }

/* SIDEBAR */
#sidebar {
  background-color: #262626;
  border-right: 1px solid transparent;
  float: left;
  height: 100%;
  padding-top: 20px;
  position: fixed;
  width: 200px; }

#sidebar nav {
  padding: 0; }
#sidebar nav li {
  font-size: 14px;
  text-transform: capitalize; }
#sidebar nav li a {
  background: none;
  color: #5e6a80;
  display: block;
  padding: 10px 0 10px 20px; }
#sidebar nav li a:hover {
  color: #2a7fdb;
  font-weight: 700; }
#sidebar nav li a.active {
  /*background-color: $primary-bg-color;*/
  color: #2a7fdb;
  font-weight: 700; }
#sidebar nav li a.active i {
  opacity: 1; }
#sidebar nav li a.active:after, #sidebar nav li a.active:before {
  left: 178px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
#sidebar nav li a.active:after {
  border-color: rgba(247, 247, 247, 0);
  border-right-color: #f7f7f7;
  border-width: 11px;
  margin-top: -11px;
  top: 50%; }
#sidebar nav li a.active:before {
  border-color: rgba(38, 38, 38, 0);
  border-right-color: transparent;
  border-width: 12px;
  margin-top: -12px;
  top: 50%; }
#sidebar nav li i {
  font-size: 23px;
  height: 24px;
  left: 0;
  opacity: 0.6;
  width: 24px; }
#sidebar nav li span {
  margin-left: 8px; }

/* CONTENT */
#content {
  margin-left: 200px;
  padding: 20px;
  position: fixed; }
