<?xml version="1.0" encoding="utf-8" ?>
<configuration>        
    <connectionStrings>
        <add name="Northwind.SQLite" connectionString="Data Source=Northwind.sqlite;Foreign Keys=True"
            providerName="System.Data.SQLite" />
        <add name="ManHouse.SQLite"  connectionString="Data Source=ManHouse.sqlite;Foreign Keys=True"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>